*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

html, body {
	font-size: 15px;
	font-family: "Segoe UI", sans-serif;
	color: #fff;

	background-color: #515f67;
}

.wrapper-main {
	position: relative;
	max-width: 1920px;
	min-width: 300px;
	width: 100%;
	margin: 0 auto;
}

.container {
	width: 100%;
	max-width: 1200px;
	height: 100%;

	margin: 0 auto;
	padding: 0 1rem;
}

.section {
	text-align: left;

	padding: 5.33333rem 0;
}

.section__title {
	position: relative;

	font-weight: 300;
	font-size: 2rem;
	text-transform: uppercase;
	color: #fff;

	margin-bottom: 2.66666rem;
}

.section__title--gray {
	position: relative;
}

.section__title::after,
.section__title--gray::after {
	content: "";
	position: absolute;
	bottom: -0.2rem;
	left: 0;
	
	width: 3rem;
	height: 2px;
	background-color: #fff;
}

.section__title--gray::after {
	background-color: #69747b;
}

.item__text {
	font-size: 0.9rem;
	font-weight: 400;
}

.section--blue {
	background-color: #4bcaff;
}



/* Header */
.header {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);

	height: 150px;
	width: 100%;
	z-index: 99;
}

.header-inner {
	height: 100%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.logo {
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.logo__item--color {
	color: #4bcaff;
}

.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
}

.nav__link {
	position: relative;

	font-size: 0.96rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;

	padding: 0.2rem 0.6rem 0.3rem;
	margin-left: 1.5rem;
}

.nav__link:first-child {
	margin-left: 0;
}

.nav__link::after {
	content: "";
	display: none;
	position: absolute;
	left: 0;
	top: -2px;

	width: 100%;
	height: 100%;

	border: 2px solid #4bcaff;
	padding: 0.7rem 0.7rem 0.9rem;

	z-index: 100;
}

.nav__link:hover::after,
.nav__link--active.nav__link::after {
	display: block;
}

.nav__link:hover.nav__link,
.nav__link--active {
	color: #4bcaff;
}

/* Burger menu */
.header--fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color: rgba(0, 0, 0, 1);
	z-index: 101;
	-webkit-animation: show_header 0.2s;
	-o-animation: show_header 0.2s;
	animation: show_header 0.2s;
}

/* header animation */
@keyframes show_header {
	0% {
		top: -80px;
		opacity: 0;
	};
	100% {
		top: 0;
		opacity: 1;
	}
}

.burger-menu {
	display: none;
	min-width: 24px;
	min-height: 24px;
	cursor: pointer;
	position: relative;
}

.burger-menu__btn {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	top: 50%;	margin-top: -2px;

	background-color: #fff;
}

.burger-menu__btn::before,
.burger-menu__btn::after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #fff;

	transition: transform .2s linear;
}

.burger-menu__btn::before {
	transform: translateY(-7px);
}
.burger-menu__btn::after {
	transform: translateY(7px);
}

.burger-menu__btn--active {
	background-color: transparent;
}

.burger-menu__btn--active.burger-menu__btn::before {
	transform: rotate(-45deg);
}

.burger-menu__btn--active.burger-menu__btn::after {
	transform: rotate(45deg);
}

.header__nav--active {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	background-color: #111;
	text-align: center;

	-webkit-animation: show_nav .2s;
	-o-animation: show_nav .2s;
	animation: show_nav .2s;
}

@keyframes show_nav {
	0% {
		top: -100%;
		opacity: 0;
	};
	100% {
		top: 200%;
		opacity: 1;
	}
}

.header__nav--active .nav__link {
	margin: 6px 0 6px 0;
	padding: 6px;
}

.header__nav--active .nav__link::after {
	top: 0;
}

/* HERO */
.hero {
	width: 100%;
	height: 100vh;
	max-height: 900px;
	position: relative;

	background: url(../img/hero_bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.hero-inner {
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.section-hero {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.section-hero__title {
	font-weight: 300;
	font-size: 2.8rem;
	color: #fff;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.6);

	margin: 0.3rem 0;
	padding: 0.2rem 0 0.3rem;
}



/* Services */
.services {}

.services-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	justify-content: space-between;
}

.services__title {
	position: relative;
	margin: 0 0 2.66666rem;

	text-align: left;
}

.services-item-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
}

.services-item {
	width: 23%;
	text-align: left;
}

.services-item__image {
	height: 3.33333rem;

	margin-bottom: 25px;
}

.services-item__subtitle {
	font-size: 1.6rem;
	font-weight: 500;

	margin-bottom: 15px;
}

.service-item__text {
	line-height: 1.4rem;
}



/* Portfolio */
.portfolio {
	-webkit-background-color: #fff;
	background-color: #fff;
	padding-bottom: 3.33333rem;
}

.portfolio-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	justify-content: space-between;
}

.portfolio-nav-wrapper {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;

	-ms-align-items: center;
	align-items: center;

	margin-bottom: 80px;
}

.portfolio__title {
	color: #69747b;
	position: relative;

	margin-bottom: 0;
}

.portfolio-nav {
	height: 100%;
}

.portfolio-nav__link {
	color: #69747b;
}

.nav__link--active.portfolio-nav__link {
	color: #4bcaff;
}

.portfolio-images {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	justify-content: space-between;
}

.portfolio-images.selected {
	justify-content: flex-start;
}

.portfolio-images.selected .portfolio-images__item {
	margin-right: 20px;
}

.portfolio-images__item {
	position: relative;
	display: block;
	width: 270px;
	height: 270px;

	font-size: 72px;
	font-weight: 300;
	text-align: center;
	line-height: 3.5;
	margin: 0 5px 30px 5px;
}

.portfolio-images__item::after {
	content: "+";
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: #515f67;
	opacity: 0;
	z-index: 2;

	transition: opacity 0.2s linear;
}

.portfolio-images__item:hover.portfolio-images__item::after {
	opacity: 0.8;
}

.portfolio-images__img {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}



/* About Video */
.video-about {
	text-align: left;
}

.video-about-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
}

.video-about-content {
	width: 470px;
	padding-right: 2rem;
}

.video-about__title {
	color: #fff;

	margin-bottom: 50px;
}

.video-about__subtitle {
	color: #fff;
	
	line-height: 1.5rem;
	margin-bottom: 2.33333rem;
}

.video-film-wrapper {
	text-align: left;
}

.video-film-item {
	width: 560px;
}



/* Twitter comment */
.twitter-comment {
	
}

.twitter-comment-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	justify-content: space-between;
}

.twitter-comment-title-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: flex-start;
	align-items: flex-start;

	justify-content: space-between;
}

.twitter-comment__title {

}

.twitter__link {
	text-decoration: none;
}

.twitter__logo {
	font-size: 1.86666rem;	
	color: #fff;

	background-color: transparent;

}

.twitter-comment__content {
	font-size: 1.86666rem;
	font-weight: 300;

	padding-right: 6.66666rem;
}



/* About */
.about {
	background: #515f67 url(../img/about_bg.jpg) no-repeat center /cover;
	
	padding-bottom: 11.3rem;
}

.about-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.about__title {

}

.about-content-wrapper {

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	justify-content: space-between;

}

.about__text {
	width: 48%;
	
	font-size: 0.96666rem;
	line-height: 1.4rem;

	margin-bottom: 3rem;
} 

.about-social-links {
	width: 48%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: flex-start;
	align-items: flex-start;
}

.about-social__link {
	text-decoration: none;
	padding: 1.2rem;
	border: 1px solid #fff;

	margin-left: 1.53rem;

	transition: transform 0.2s linear;
}

.about-social__link:hover {
	transform: translateY(-5px);
}

.about-social__link:first-child {
	margin-left: 0;
}

.about-social__logo {
	color: #fff;
	font-size: 1.86666rem;
}



/* Testimonials */
.testimonials {
	background-color: #fff;
	color: #515f67;
}

.testimonials-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.testimonials-title-wrapper	{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: center;
	align-items: center;

	justify-content: space-between;
}

.testimonials__title {
	position: relative;

	color: #515f67;
}

.testimonials__title::after {
	content: "";
	position: absolute;
	bottom: -0.2rem;
	left: 0;
	
	width: 3rem;
	height: 2px;

	background-color: #515f67;
}

.testimonials__quot {
	vertical-align: top;
	font-weight: 700;
	font-size: 6rem;
}

.testimonials__text {
	font-size: 1.86666rem;
	font-weight: 300;
	line-height: 3.5rem;

	margin-bottom: 2.86666rem;
}

.testimonials__name {
	font-size: 0.93333rem;
	font-weight: 700;
	color: #4bcaff;
}



/* Contact */
.contact {
	background: #515f67 url(../img/contact_bg.jpg) no-repeat center /cover;

}

.contact-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

}

.contact__title {

}

.contact-form {
	width: 100%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	margin-bottom: 2.86666rem;
}

.contact-form-name-wrap,
.contact-form-email-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;

	-ms-align-items: center;
	align-items: center;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	margin-bottom: 2.8666rem;
}

.contact-form__name, 
.contact-form__email,
.contact-form__message {
	font-size: 0.96rem;
	font-weight: 700;
	text-transform: uppercase;

	width: 100%;
	margin-bottom: 0.5rem;
}

.contact-form__name-input,
.contact-form__email-input {
	width: 40%;
	height: 3rem;
}

.contact-form__text,
.contact-form__address {
	width: 48%;
	height: 100%;
}

.contact-form__address {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	font-style: inherit;
}

.contact-form__address-text {
	
}

.contact-form-message-wrap {
	width: 100%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.contact-form__name-input,
.contact-form__email-input,
.contact-form__message-text {
	background-color: transparent;
	border: 2px solid #fff;
	padding: 0.8rem;
	outline: none;

	color: #fff;
}

.contact-form__message-text {
	width: 100%;
	resize: none;
	overflow: auto;
}



/* Footer */
.footer {
	padding: 5.33333rem 0;

	background-color: #353f47;
}

.footer-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
}

.footer-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: flex-start;
}

.footer-nav__link {
	color: #626f78;
	text-decoration: none;
}

.footer-nav__link:hover {
	text-decoration: underline;
}

.footer-nav__link:last-child {
	margin-left: 0;
}

.footer-nav__link::after {
	content: "|";
	margin: 0 1rem;
}

.footer-nav__link:last-child::after {
	content: "";
	margin-right: 0;	
}

.copyright {
	color: #626f78;
}


/* Buttons */
.btn {
	display: inline-block;

	font-family: inherit;
	font-weight: 700;
	color: inherit;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: transparent;

	cursor: pointer;
	outline: none;

	border: 1px solid #fff;
	padding: 1rem 2.66666rem;

	transition: color 0.2s linear, border 0.2s linear;
}

.btn:active {
	transform: translateY(1px);
}

.video-about__btn {
	font-size: 0.96rem;
}

.video-about__btn:hover {
	color: #4bcaff;
	border-color: #4bcaff;
}

.contact-btn {
	font-size: 0.96rem;
	width: 300px;
	border: none;
	cursor: pointer;
	background-color: #4bcaff;
}




/* Media */
@media screen and (max-width: 997px) {
	.section-hero__title {
		font-size: 2.4rem;
	}
}

@media screen and (max-width: 897px) {
	.section-hero__title {
		font-size: 2.1rem;
	}
}

@media screen and (max-width: 855px) {
	.portfolio-images__item {
		margin: 2rem;
	}
	.video-about-inner {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.video-about-content {
		width: 100%;
		margin-bottom: 2rem;
		padding-right: 0;
	}

}

@media screen and (max-width: 753px) {
	.section-hero__title {
		font-size: 1.7rem;
	}
	.about-content-wrapper {
		width: 100%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.about__text,
	.about-social-links {
		width: 100%;
	}
}

@media screen and (max-width: 691px) {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 80px;
		background-color: rgba(0, 0, 0, 1);
		z-index: 101;
	}
	.header__nav.nav {
		display: none;
	}
	.burger-menu {
		display: block;
	}
	.portfolio-nav-wrapper {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.portfolio__title {
		margin-bottom: 3rem;
	}
	.portfolio-images {
		justify-content: space-around;
	}
	.portfolio-images__item {
		margin: 0 0 2rem;
	}
	.twitter-comment__content {
		padding-right: 3.5rem;
	}
}

@media screen and (max-width: 617px) {
	.section-hero__title {
		font-size: 1.4rem;
	}
	.services-item-wrapper {
		width: 100%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.services-item {
		width: 100%;
		margin-bottom: 2rem;
	}
	.portfolio-images {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.portfolio-images__item {
		margin: 1rem;
	}
	.video-about__btn {
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: 591px) {
	.video-film-wrapper {
		text-align: center;
	}
	.video-film-item {
		width: 400px;
	}
}

@media screen and (max-width: 512px) {
	.section {
		padding: 3.5rem 0;
	}
	.section-hero__title {
		font-size: 1rem;
	}
	.portfolio-nav-wrapper {
		margin-bottom: 1rem;
	}
	.contact-form-name-wrap,
	.contact-form-email-wrap,
	.contact-form-message-wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}
	.contact-form__name-input,
	.contact-form__email-input {
		width: 100%;
	}
	.contact-form__text,
	.contact-form__address {
		display: none;
	}
	.contact-btn {
		width: 100%;
	}
}

@media screen and (max-width: 420px) {
	.section-hero__title {
		font-size: 0.9rem;
	}
	.section {
		padding: 3rem 0;
	}
	.video-film-item {
		width: 320px;
	}
	.about-social__link {
		margin-left: 0.8rem;
	}
	.footer {
		padding: 1.5rem 0;
	}
	.footer-inner {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.footer-nav {
		margin-bottom: 1rem;
		justify-content: space-between;
	}
	.footer-nav__link::after {
		margin: 0 0.5rem;
	}
}

@media screen and (max-width: 339px) {
	.section-hero__title {
		font-size: 0.8rem;
	}
	.video-film-item {
		width: 290px;
	}
	.about-social__link {
		margin-left: 0.4rem;
	}
}
